[2015-06-11 14:16] LindsayYoung opened #1 "I like the name of this repo, what does it do?"
:)

[2015-06-16 17:03] ultrasaurus commented on #1
README updated! https://github.com/18F/open-data-maker/blob/master/README.md

[2015-06-16 17:03] #1 closed

[2015-06-22 21:47] shawnbot opened #8 "JSON output: need configuration for types"
A couple of notes on JSON output:

- [x] We should serve responses with the appropriate [MIME type](https://en.wikipedia.org/wiki/JSON#MIME_type): `application/json`.
- [x] It should be possible to declare columns as numeric so that they can be rendered as such in JSON, rather than everything being strings. This can get a little funky with floats, so it may be necessary to tweak whatever JSON seri

[2015-06-23 00:54] harrisj commented on #8
I have sometimes seen people output floats in JSON as strings. I guess that is their way of dealing with numeric fields properly

[2015-06-23 13:06] monfresh commented on #8
+1 on using proper types. I've built a Rails API in the past that stored geo coordinates as Floats and Elasticsearch was able to perform the `geo_distance` filter without any issues.

[2015-06-23 15:29] ultrasaurus opened #10 "on startup, padrino WARNING no supported rendering engine found, but it actually works fine"
I set this up with liquid for rendering static content.

On startup, it shows the following error, but actually works fine:

[code]

[2015-06-23 15:29] ultrasaurus commented on #10
isolated to a bug in the padrino framework:  https://github.com/padrino/padrino-framework/issues/1928

[2015-06-24 00:34] shawnbot opened #13 "Pagination support"
Pagination sucks, but we may have to do it to prevent serializing and sending very large responses. It can also be overwhelming to work with an API that sends too much data at once, e.g. when you give it overly general search parameters or forget them entirely.

I've mostly seen it done like this:

[code]

Then if you pass `?page=2`, you get the next page of results. I've seen this done a bunch of

[2015-06-24 13:13] monfresh commented on #13
There are two things here:

1. Implementing the pagination with a default `per_page` (30 is a good number), as well as allowing a user to specify their own `per_page`, up to the `max_per_page`, which I recommend to set to 100 by default.

2. Displaying the pagination information so that the code that is consuming the API can follow links to the next, previous, and last pages, and know what the tot

[2015-06-24 13:26] harrisj commented on #13
Nice! Do you want to have the option to bypass pagination entirely though, for when people want to download the data directly? Or would they have to do something like octokit's autopagination on their end? I suppose a system where bulk downloads are saved to S3 and the user is redirected there might be a fun option...

[2015-06-24 14:09] harrisj opened #14 "Make imports idempotent"
Currently, if you run `rake import` multiple times, you get duplicated records for that API. It would be nice if imports could be safely run multiple times without worrying about this, especially if some data in the original CSV is updated between loads. There are two possible ways this could be accomplished:

1. Clear all the data for the API index before the load
2. Allow the config to specify a

[2015-06-24 16:03] ultrasaurus commented on #8
I was thinking of making types configurable for columns in data.yaml.  I don't think our initial data set has floats except for lat/long and thos we'll need to treat special anyhow.

I think our list of types will be:
- text (default)
- exact match keyword (like state abbreviation)
- integer
- location (lat/long)

[2015-06-24 17:29] harrisj commented on #13
Good point. Would we ever paginate CSVs if that was an available format to download?

[2015-06-24 17:45] ultrasaurus commented on #14
I like the primary key idea.  I was also thinking of adding a version to the data.yaml, since I think that will help with cloudfoundry deployment.

[2015-06-25 17:24] shawnbot opened #25 "Support data.yml and data.yaml"
I've noticed (particularly in 18F projects) that the `.yml` extension gets used more often than `.yaml`. We should look for both extensions when reading the data schema.

[2015-06-25 18:05] shawnbot opened #27 "Unlisted CSVs are imported silently"
Two unexpected things currently happen when you move the `.csv` file listed in `data.yaml` to a new filename then run `rake import`. For instance, if you do this:

[code]

1. The `cities.csv` file is read anyway (and maybe even gets indexed?) but has no API endpoint associated with it, so it's basically inaccessible.
2. No warning (or error, which I think is appropriate) is thrown for the missing

[2015-06-25 18:37] ultrasaurus commented on #27
this is documented in the [README](https://github.com/18F/open-data-maker/blob/master/README.md) that the data.yaml is optional.  There's a default endpoint which is undocumented (!)  -- the initial implementation didn't have data.yaml at all.

Maybe at this point, it would be less confusing to make the data.yaml required and only import what it specifies.

[2015-06-25 20:12] ultrasaurus commented on #25
yeah, I was going to use .yml and then the YAML spec said it recommended the longer extension.  I think the world still has muscle memory from DOS.

[2015-06-26 18:20] shawnbot opened #30 "Multiple query string parameters produce 400 Bad Request"
Providing more than one search parameter in the query string raises a 400:

[code]

Some text from the long, cryptic error message:

[code]

[2015-06-29 05:46] #30 closed

[2015-06-29 23:59] ultrasaurus commented on #27
I think I've addressed #1, but should write a test for #2, since I think I may have broken the old behavior

[2015-06-30 14:56] harrisj commented on #14
We could also have the system automatically default to using a column named `id` or `key` or possibly `name` (that one might not always be unique) should it be in the CSV

[2015-07-05 16:29] #13 closed

[2015-07-08 00:40] shawnbot opened #37 "Handle null values"
Different data sets demarcate null values differently. For instance, some CSVs may use the literal `NULL`, whereas others might specify null numeric values as `-9999` (yes, really). There should be a way to specify what values should be interpreted as null in the data.yaml, for instance:

[code]

Eventually this would be useful to provide on a per-column basis, but for now it should address a good

[2015-07-08 16:28] shawnbot opened #38 "Multi-year data use case"
Census (or similar) data is a good example of something that would make sense to combine into single rows. For instance, if you had yearly CSVs of populations by city:

[code]

In this case, we might want to create an API that returns JSON for San Francisco that looks like:

[code]

In the case of the US Census, we'd have many more columns than just population that could be broken down year by yea

[2015-07-09 14:18] monfresh opened #40 "Security vulnerabilities in current versions of rack and activesupport"
I added open-data-maker to our Gemnasium acount, and it is reporting 3 security vulnerabilities due to outdated versions of rack and activesupport, which are gems that padrino depends on.

To fix, run `bundle update rack activesupport`.

I encourage you to sign up for a Gemnasium account so that you can keep track of your project's dependencies and update them when they become out of date, or when

[2015-07-09 15:47] monfresh commented on #40
I just realized that you don't actually need an account to view Gemnasium reports for open source repos. Here is this repo's project page: https://gemnasium.com/18F/open-data-maker

You can also view all 18F public repos here: https://gemnasium.com/18F/

[2015-07-11 16:40] ultrasaurus opened #43 "When I have geo-coded data, I would like to search by distance from US zip code"
We have the API implemented:  /places?zip=94132&distance=100mi
if you have fields called location.lat and location.long those are geo-indexed, but the API does not dynamically figure out the zip code location -- it's currently hardcoded to SFO!

With the completion of this story, the API should work with any arbitrary US zip code

Make sure to remember to add attribution to the README -- the [geon

[2015-07-11 17:01] ultrasaurus commented on #43
@shawnbot can you find a good source for zipcode, lat/long data?

[2015-07-11 17:19] ultrasaurus opened #44 "As a developer or data analyst, I should be able to read some text about what all this data is, so I can decide what I want to do with it"
We are typically dealing with large datasets, sometimes from different sources, where data analysts and developers need to understand where the data comes from and exactly what it is, which doesn't all fit in a field name.

This story is for the "Data Details" area in the image below.

![image](https://cloud.githubusercontent.com/assets/41906/8634657/26527ca0-27b6-11e5-9384-1877d8591571.png)

The

[2015-07-11 17:58] ultrasaurus opened #45 "As a developer, I should be able to download a JSON version of data.yaml so that I know how to query the API"
The app should serve up a JSON representation of `data.yaml` at `/data.json` that gives developers (and possibly the front end described in #44) a listing of the API endpoints and fields in each.

[2015-07-11 18:16] ultrasaurus opened #46 "As a developer or data analyst, I want to be able to explore the categories of data..."
The idea is that the list of categories would be available as an API then the little explorer shown below would list the categories and, when people click on the (+) button, they would be able to see the category description and a list of fields in that category

![image](https://cloud.githubusercontent.com/assets/41906/8634835/25c21e50-27be-11e5-8aba-e0b3dc67a0e8.png)

[2015-07-11 19:09] ultrasaurus commented on #8
We now have a separate issue for NULL values:  https://github.com/18F/open-data-maker/issues/37
added a proposal that @shawnbot and I brainstormed to the description above for how to handle types

[2015-07-12 15:25] ultrasaurus opened #48 "As a data analyst, I would like to get the data as a csv, rather than json"
the API should support whatever.json and whatever.csv
csv should ignore pagination args, since that doesn't really make sense to the humans

[2015-07-13 19:45] ultrasaurus opened #50 "store the config in elasticsesarch for more resilient version checking"
Right now, we're checking the environment variable DATA_VERSION to see if we should re-index when there's a new config.  However, since the app can't update the environment variable across re-starts, it creates this error-prone manual step.

Let's keep the config in elasticsearch, then we can store version number in the same index that it is related to.

[2015-07-13 19:50] ultrasaurus commented on #27
I think I like original proposal by @shawnbot -- it simplifies thing to require data.yaml

[2015-07-13 19:50] ultrasaurus commented on #27
I will close this out since there is now nothing more to do!

[2015-07-13 19:51] #27 closed

[2015-07-14 23:12] ultrasaurus commented on #50
Partial fix, added some [Implementation Notes](https://github.com/18F/open-data-maker/blob/master/NOTES.md)

The config (specified by DATA_PATH/data.yaml) is loaded the first time it is needed and then stored in memory

(A) CloudFoundry: configuration is stored in Elastic Search in a single document of type 'config' with id 1 (this document is checked at startup to check the version field, if the

[2015-07-14 23:19] shawnbot opened #52 "As a developer, I should be able to query the data with boolean operations (greater than, less than, within a range)"
Some initial thoughts:

* numeric fields should support `>`, `>=`, `<`, `<=`. Range queries could be implemented as repeated query string parameters.
* (all?) fields should support set comparisons like SQL `IN` (`foo IN ('a', 'b')`). These could also be implemented as repeated query string parameters.
* (all?) fields should support negation (`foo != 'bar'`).

There are lots of different options fo

[2015-07-14 23:20] ultrasaurus opened #53 "When I search for New York, I shouldn't get New Hampshire"
It's currently doing a text search where similar "relevant" documents are found, but that doesn't make sense for proper names like these.

If I searched for "New" I would expect New York and New Hampshire, etc., but searching for New York (in a list of states) should just produce New York.

[2015-07-14 23:57] shawnbot opened #54 "As a developer or data analyst, I would like to be able to preview the data in the browser"
The image from the README illustrates what this might look like:

![csv-download](https://cloud.githubusercontent.com/assets/113896/8687809/e2d36788-2a48-11e5-8c48-9b42e18dfdd6.png)

Specifically:

- [ ] there should be custom criteria inputs that translate directly to query string parameters (see #52)
- [ ] there should be a heading that lists the number of matching rows according to the criteria

[2015-07-15 02:43] miriam commented on #8
@miriam, @mydogspot, @holyoke working on this 7/14/15

[2015-07-15 02:44] shamus commented on #44
Shauna and I are are working on this!

[2015-07-15 03:29] ange3 commented on #48
Angela and Cameron are working on this issue.

[2015-07-15 03:29] ange3 commented on #45
Angela and Cameron are working on this issue.

[2015-07-15 03:35] ange3 opened #55 "Support multiple endpoints"
Currently there is only one api contained in the data.yaml file. However, in the future, there will probably be multiple endpoints. Support in config and the data.json endpoint (and potentially other files) is needed for this.

[2015-07-15 03:41] ultrasaurus opened #57 "test failure: import_all indexes rows from all the files"
this spec passes in isolation, yet fails with rake spec
checked in with 'xit' as pending

[code]

[2015-07-15 03:43] ultrasaurus commented on #57
@agius is looking into this

[2015-07-15 03:54] ultrasaurus commented on #57
I think the issue is in /spec/task/indexing_spec.rb, line 21: "correct configuration"
appears to not clean up after itself

[2015-07-16 23:01] shawnbot opened #63 "As a data consumer, I would like to get aggregate statistics about the entire data set so that I can make more informed comparisons"
One need that we have for the Ed project is to get aggregate statistics, e.g. the median graduation rate for all schools. I'm imagining an API endpoint that you could access like so:

[code]

When you need more than one field or statistic, as we will in Ed, you could just comma-separate them:

[code]

[2015-07-20 03:54] ultrasaurus opened #64 "when I search with no terms, I should get only documents (not the index config entry)"
failing spec in dev branch, returns this along with all the indexed documents
 {"version"=>"fixture-import-all", "index"=>"city-data", "api"=>"cities", "global_mapping"=>{"USPS"=>"state", "NAME"=>"name", "POP10"=>"population", "INTPTLAT"=>"latitude", "INTPTLONG"=>"longitude"}

should be only searching type 'document'

[2015-07-20 06:57] #57 closed

[2015-07-24 08:42] ultrasaurus opened #70 "we should have specs for reading data from s3"
currently doesn't have any test coverage

[2015-07-24 18:11] ultrasaurus opened #72 "As a developer, I would like to see API docs..."
see discussion here:  https://github.com/18F/college-choice/issues/15

[2015-07-24 20:47] jmcarp commented on #55
This would be a great addition. I'd be happy to implement if this is of interest.

One option would be to add more structure to `data.yaml`. For example:
[code]
or
[code]
Alternatively, the files and metadata for each API could live in separate folders, S3 buckets, etc. Under this scenario, the cities endpoint might live at `s3://cities`, and the landmarks endpoint at `/data/landmarks`, each with

[2015-07-26 11:47] #25 closed

[2015-07-26 11:47] #70 closed

[2015-07-26 14:41] ultrasaurus opened #76 "As a developer using the API, I would like to get a subset of the fields in my results"
I'd like to see something like http://localhost:3000/cities?state=CA&fields=name,size  which would return just name and size fields, not the whole json document

[2015-07-26 14:48] ultrasaurus commented on #45
this was fixed and merged, but forgot to close the issue
you can now do this: http://localhost:3000/data.json

[2015-07-26 14:48] #45 closed

[2015-07-26 14:50] ultrasaurus commented on #64
fixed by: https://github.com/18F/open-data-maker/pull/75

[2015-07-26 14:50] #64 closed

[2015-07-26 16:48] #50 closed

[2015-07-26 16:55] #76 closed

[2015-07-26 18:48] ultrasaurus commented on #48
started working on this here:  https://github.com/18F/open-data-maker/pull/79

[2015-07-26 18:55] ultrasaurus commented on #44
I wrote up some sample field descriptions along with some categories for the cities list in sample-data:  https://github.com/18F/open-data-maker/tree/sample-categories -- it should be ok to leave a description blank. One idea to make that look ok would be put all the fields that don't have descriptions at the top or the bottom, some are self explanatory like "name" so I could imagine beta docs tha

[2015-07-26 18:58] ultrasaurus commented on #44
Also, you can get at the categories from code with:
[code]

[2015-07-29 22:26] ultrasaurus opened #81 "when a csv has a byte order mark (BOM), it shouldn't be included as part of the column name"
failing spec here:  https://github.com/18F/open-data-maker/tree/bom

[2015-07-30 03:28] slhaines commented on #44
Can a field belong to more than one category?

[2015-07-30 17:16] siruguri opened #83 "DATA_PATH should not be required to be set"
Not sure if I did something wrong but in the installation guide, it didn't say to set `DATA_PATH` to anything, but when I ran `rake import` without having set that variable I get this error:

[code]
When I exported `DATA_PATH` to point to `./sample_data`, everything worked smoothly.

Happy to submit a PR with that sentence added somewhere in the installation guide, if that's the right idea.

[2015-07-30 18:31] ultrasaurus commented on #83
We're supposed to have ./sample-data as the default.  If you want to submit a PR that fixes that, it would be most welcome!

[2015-07-30 19:12] siruguri commented on #83
hold on, I think I know what happened.

https://github.com/18F/open-data-maker/commit/bdfe9560dbb66959e8809b33de596adc86b512cf

caused the _first run_ of `rake import` to fail because it deletes an index
that doesn't exist.

So should this issue in fact be thus?

"Fail gracefully during import when index doesn't exist"

If that's right, I'll submit that PR.

On Thu, Jul 30, 2015 at 11:31 AM, Sarah

[2015-07-30 23:44] dansherpa commented on #43
Take a look at https://www.zipcodeapi.com/

[2015-07-31 11:53] ultrasaurus opened #87 "data should only be re-indexed if the version has changed"
not sure when this behavior changed, but I noticed that it seems to always re-index on startup -- should only re-index when version number changes in data.yaml

[2015-07-31 13:28] ultrasaurus commented on #87
I decided to merge the open good-to-go pull requests into staging before looking into this.  Now it seems not to index when the version *has* changed.

[2015-07-31 13:52] diego- commented on #43
just a note that zipcodeapi is free only for 250 API calls per hour, at which point it cuts off. For more calls, paid plans are available.

https://www.zipcodeapi.com/Plans

[2015-07-31 13:52] diego- commented on #43
This one is not rate limited: http://ziplocate.us

[2015-07-31 18:54] ultrasaurus commented on #87
this got fixed in one of the recent merges (in staging)

[2015-07-31 18:54] #87 closed

[2015-07-31 18:59] ultrasaurus commented on #83
@siruguri good catch.  Tho I think now that https://github.com/18F/open-data-maker/pull/84 is on track we want to re-index rather than deleting the index (and set sample-data to have unique key).  Then we could just check if the index exists and only create it if it doesn't (which is actually what DataMagic.create_index does).

So, I *think* you could fix the bug by just calling DataMagic.create_i

[2015-07-31 18:59] ultrasaurus commented on #83
by the way: if you work on this, brannch from 'staging' since there's a lot of new stuff there that hasn't made it to master!

[2015-07-31 19:59] #14 closed

[2015-08-01 00:09] ultrasaurus commented on #83
update: I started a dev branch and made it the default branch, if you haven't started, branch from there!

[2015-08-02 12:24] ultrasaurus commented on #83
this is fixed in 'dev' branch  (create_index fails gracefully if you already have an index)

[2015-08-02 12:24] #83 closed

[2015-08-03 22:21] shawnbot opened #95 "As an API user, I would like to be able to sort the results by any field"
It should be possible to sort the results with an additional query string parameter, e.g. to sort results by name (ascending by default):

[code]

Elasticsearch's [sort parameters](https://www.elastic.co/guide/en/elasticsearch/reference/1.6/search-request-sort.html) allow you to specify multiple fields and orders to sort on, but I'm not sure of the most intuitive way to surface these via query str

[2015-08-03 22:55] ultrasaurus commented on #8
Resolved with recent commits

[2015-08-03 22:55] #8 closed

[2015-08-04 02:13] pfgilbert commented on #37
Caleb and Patty are working on this one.

[2015-08-04 02:16] siruguri commented on #72
I couldn't parse how 44 relates to this but if you _were_ to write API docs, maybe it would be easier to use an API doc creation engine and generate those docs to a separate URL? Coding nice styles for API doc pages can be a bear.

[2015-08-04 02:49] irinatag commented on #95
Sameer and Irina want to work on this, is this ok with you guys?

[2015-08-04 02:54] irinatag commented on #95
Another question: will it be ok if we bypass Stretchy to implement this? We are pretty sure that Stretchy didn't implement Elasticsearch sort, and it will be easier to implement directly in Elasticsearch.

[2015-08-04 02:56] cherika commented on #43
Angela and Selene are working on this.

[2015-08-04 03:01] ultrasaurus commented on #72
@siruguri I was thinking that this and #44 will both use the content of data dictionary, but they are separate stories.  The idea was that we need to dynamically create API docs based on data.yml which specifies the endpoint, terms, etc.

There are a bunch of frameworks for making nice interactive docs, though there might be an MVP of this issue that just displays some example queries based on the

[2015-08-04 03:03] siruguri commented on #63
Proposed spec for result: if URL is `/cities/stats?fields=land_area,population&metrics=avg` (using column headers from the sample cities.csv file)

it should return
[code]

Thoughts?

[2015-08-04 03:04] ultrasaurus commented on #95
@irinatag sure.  Stretchy was a great way for me to get started.  I really like it's interface, but somethings are still easier (or only possible) with the elasticsearch ruby gem.

[2015-08-04 03:33] ultrasaurus commented on #53
query_string might be what we are looking for:  https://gist.github.com/acreeger/1027916

[2015-08-04 03:42] ultrasaurus commented on #53
here are the elasticsearch docs for query_string: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html

[2015-08-04 04:05] rachelcolby11 commented on #53
To address this bug, we changed the operator by nesting the query like this:

[code]

[2015-08-04 04:34] shawnbot opened #97 "Pagination is wonky"
Something very strange is going on with pagination on the test API. For example, say we request all of the schools in California:

[code]

The second school in the [first page](https://api.data.gov/TEST/ed/school?state=CA) of results (total: 585) is the "San Francisco School", [id: 1984](https://api.data.gov/TEST/ed/school?id=1984). That school shows up again in the next page of data, assuming tha

[2015-08-04 06:36] ultrasaurus commented on #95
@irinatag please submit a pull requests, even if it isn't complete.  I will likely need to work on sort in the next couple of days and would love to integrate your work, even if it is just part of what's needed.

[2015-08-05 19:11] ultrasaurus commented on #52
partial implementation of this story here:  https://github.com/18F/open-data-maker/pull/59

[2015-08-07 17:04] yozlet opened #102 "Integrate New Relic"
Server/app errors are not currently being monitored. Let's get NR integrated.

[2015-08-09 00:48] ultrasaurus commented on #95
starting working on this

[2015-08-09 00:49] ultrasaurus commented on #44
@slhaines nope!

[2015-08-09 05:23] ultrasaurus opened #104 "support boolean types"

[2015-08-09 05:24] ultrasaurus opened #105 "support date types"

[2015-08-09 12:29] ultrasaurus opened #107 "sort by multiple columns"
related to #95
* `sort=a,b` specifies multiple sorts, each of which can have its own order (`sort=foo:desc,bar`)

[2015-08-11 05:00] siruguri commented on #63
I take it that you would like to be able to do stats on subsets of the index, so it'd be nice to retain the search call syntax and somehow extend it to include stats.

I didn't want to code hastily before thinking through the design a bit. There seem to be two approaches - have all possible new endpoints by default behave like search, with additional parameters specific to that endpoint, OR have o

[2015-08-11 18:33] shawnbot opened #110 "Support gzip encoding"
I think we could cut down pretty dramatically on response payload sizes with gzip encoding.

[2015-08-11 18:38] jmcarp commented on #110
This might arguably be better handled outside the app. In nginx, enabling gzip is as simple as `gzip on`, and it's going to be faster than Ruby. The API Umbrella may already have an option for this.

[2015-08-11 19:52] diego- commented on #110
from #api: re: does api.data.gov support gzip? Yes. If your backend performs gzipping, we should take advantage of that. But we'll also gzip up common content types if the API backend does not perform gzipping. We'll also do un-gzipping for clients that don't support gzip.

[2015-08-11 22:03] jmcarp commented on #110
"But we'll also gzip up common content types if the API backend does not perform gzipping." If I'm looking in the right place (no guarantees about that!), then JSON is included: https://github.com/NREL/api-umbrella-router/blob/master/templates/etc/nginx/router.conf.hbs#L156

[2015-08-11 22:32] #110 closed

[2015-08-12 23:58] shawnbot opened #111 "Allow nested filter parameters in query strings"
E.g.

[code]

[2015-08-13 00:05] yozlet commented on #111
Need to use the [nested query](https://www.elastic.co/guide/en/elasticsearch/reference/1.6/query-dsl-nested-query.html)/filter format in the query builder when spotting nested fields.

[2015-08-13 00:41] yozlet commented on #52
@shawnbot and I worked more on #109 today, and what we've ended up with is slightly different to what's suggested in the description, but just as powerful:

 * No more `__gte`, `__lte` etc. Now, to specify a range (or set of ranges) to filter a field, use `__range`. Provide a comma-separated list of ranges, where each range is a pair of numbers separated by the `..` operator. If either number is m

[2015-08-13 11:46] ultrasaurus opened #112 "nested field request not providing expected results"
Last night, I attempted to search for all 4-year schools using this query:

https://ccapi-dev.18f.gov/school?school.degrees_awarded.predominant=3

and got zero results. I verified that there are schools that should be in that result set. Here's one (https://ccapi-dev.18f.gov/school?id=104151):

![image](https://cloud.githubusercontent.com/assets/41906/9249048/920a696c-417e-11e5-91e9-d467ba37b426.p

[2015-08-13 11:49] ultrasaurus opened #114 "distance search fails with nested location"
the app is currently hard-coded to geo-code & search for special field "location" at the root.  Quick workaround for this to to change the data.yaml to have location at root (not nested under 'school')

[2015-08-13 18:42] yozlet commented on #52
@shawnbot No preference. Am happy to support both. You'll be the main API user - what do you think?

[2015-08-13 18:47] #97 closed

[2015-08-13 21:35] yozlet commented on #52
OK, deployed to staging.

[2015-08-15 00:11] yozlet commented on #102
Initial work merged with #117. Am going to close this now, though we could possibly have NR log custom attributes such as the parsed query before executing; I tried using the suggested code from https://docs.newrelic.com/docs/apm/other-features/attributes/collecting-custom-attributes but it threw errors.

[2015-08-15 00:11] #102 closed

[2015-08-19 02:48] ultrasaurus commented on #112
resolved with: https://github.com/18F/open-data-maker/pull/118

[2015-08-19 02:48] #112 closed

[2015-08-19 02:49] #95 closed

[2015-08-19 02:51] ultrasaurus commented on #63
how about:
[code]
then we could move to having other options (like paging and sorting) use the same kind of syntax and we wouldn't pollute the namespace

[2015-08-19 02:52] #52 closed

[2015-08-19 02:53] ultrasaurus commented on #38
resolved this a while ago with nest options in files section of data.yaml

[2015-08-19 02:53] #38 closed

[2015-08-19 02:53] ultrasaurus commented on #43
this will be addressed by https://github.com/18F/open-data-maker/pull/119

[2015-08-19 03:37] ultrasaurus opened #121 "As a developer, I would like an example of using the API to put locations on a map"
ideally we would have an html file that is stand-alone (but might be in this repo as its own page) and demostrates calling the API and showing cities as dots on a US Map, either with D3 or Google Maps or whatever you like

[2015-08-19 03:47] ultrasaurus commented on #44
here's a direct link to the sample data.yaml with categories:  https://github.com/18F/open-data-maker/blob/sample-categories/sample-data/data.yaml

[2015-08-19 16:34] ultrasaurus commented on #48
@pablokang might be able to help with this

the PR above is probably not really helpful, except maybe the test

[2015-08-19 17:52] slhaines commented on #44
Added geographic category (after syncing with 18F/dev).

[2015-08-20 00:35] ultrasaurus commented on #46
@slhaines  is working on this with https://github.com/18F/open-data-maker/pull/58

[2015-08-20 00:38] ultrasaurus opened #122 "As a developer, if I click on a category, I should see a page with the data dictionary for fields in that category"
For an initial implementation, we should make all the text visible --- without the (+) interface.

![image](https://cloud.githubusercontent.com/assets/41906/9372912/0d58236a-4699-11e5-9523-35a563bf8ff7.png)

[2015-08-20 00:46] ultrasaurus commented on #44
this is split into two stories Categories: https://github.com/18F/open-data-maker/issues/46 and Data Dictionary pages: https://github.com/18F/open-data-maker/issues/122

[2015-08-20 00:50] #44 closed

[2015-08-20 01:00] ultrasaurus opened #123 "we need a layout with jquery, etc. so we don't repeat code on every page"
We're using liquid for the pages, with the idea that we want the code to be mostly what developers would write, but we'll use erb for layout (since liquid doesn't support yield).

[2015-08-20 01:04] ultrasaurus commented on #123
@shamus is working on this

[2015-08-20 01:08] ultrasaurus opened #124 "use sass for more awesome css"
make sure to update the development process section in the [Contributors Guide](https://github.com/18F/open-data-maker/blob/dev/CONTRIBUTING.md)

[2015-08-20 01:23] ultrasaurus opened #125 "when I download a csv, I would like to select specific years of data"
![image](https://cloud.githubusercontent.com/assets/41906/9373444/61ce8078-469f-11e5-9731-401491f7a6e1.png)

[2015-08-20 02:12] ridiculous commented on #107
i'm guessing we want the default order to be `asc` (if none specified)?

[2015-08-20 02:25] ultrasaurus commented on #48
@cantino and @salogel42 will look at this

[2015-08-20 02:26] Karla-Isabel-Sandoval commented on #81
Caleb and I would  like to work on this issue.

[2015-08-20 02:33] ultrasaurus commented on #104
@vbrown608 and @katyduncan are working on this

[2015-08-20 02:35] aneyzberg commented on #53
working on this

[2015-08-20 02:37] cdale77 commented on #124
Working on this

[2015-08-20 02:58] Conanza commented on #121
in progress

[2015-08-20 04:49] slhaines commented on #122
Shauna and Jeremy are on it!

[2015-08-20 05:58] siruguri commented on #63
That works ... I'll try to get to this in the next week or so.

On Tue, Aug 18, 2015 at 7:51 PM, Sarah Allen <notifications@github.com>
wrote:

[2015-08-20 06:07] ultrasaurus commented on #123
fixed: https://github.com/18F/open-data-maker/pull/126

[2015-08-20 06:07] #123 closed

[2015-08-20 06:08] ultrasaurus commented on #104
fix is here: https://github.com/18F/open-data-maker/pull/129 -- just needs a test!

[2015-08-20 11:44] ultrasaurus commented on #48
@salogel42 looks like there's a lot of good work here: https://github.com/salogel42/open-data-maker/commits/csv-export -- what's left to do before a pull request?

[2015-08-20 12:25] ultrasaurus opened #135 "when the app starts up, it should only create the index once"
when there is a new data.yaml, it successfully creates index, then there are multiple additional calls to create_index.  It is nice that we make sure the index is there on various entry points to DataMagic, but maybe we could just keep track that we've done it.  I think it would speed up indexing many files (and also make it less confusing to look at the logs for newcomers)

[2015-08-20 12:30] ultrasaurus opened #136 "fix pending spec: import_with_dictionary with errors raises an error with invalid type"
recent work broke error checking when reading new data.yaml:

[code]

[2015-08-20 13:03] ultrasaurus commented on #63
awesome!

[2015-08-21 01:06] ultrasaurus commented on #37
https://github.com/18F/open-data-maker/pull/98

[2015-08-21 08:05] ultrasaurus commented on #43
merged!  thank you so much @cherika !

[2015-08-21 15:59] ozzyjohnson opened #139 "Make Elasticsearch and S3 service names dynamic."
**Background:**

Currently, both [elasticsearch](https://github.com/18F/open-data-maker/blob/213e1c78ac21ef4e82370032eac98357cdbee869/lib/data_magic.rb#L189) and [s3](https://github.com/18F/open-data-maker/blob/213e1c78ac21ef4e82370032eac98357cdbee869/lib/data_magic.rb#L42) use hardcoded names.

**Why:**

I'd like to see this change for a couple of reasons which are both in support of adding flexi

[2015-08-22 02:13] ultrasaurus commented on #139
@ozzyjohnson elasticsearch gets it's URI from CloudFoundry, likewise s3, but I was thinking of making a config.yml.  I assume you are talking about the non CF deploy?

[2015-08-22 18:28] ultrasaurus commented on #46
check comments in pull request for proposed refactor

[2015-08-22 18:32] ultrasaurus opened #143 "create more complex sample data set with categories"
see info at top of current [sample data](https://github.com/18F/open-data-maker/blob/dev/sample-data/data.yaml) -- would be great to have realistic categories and sample data from census so we can get a feel for how the category / data dictionary UI will work

[2015-08-22 18:34] ultrasaurus opened #144 "add description of project to data.yaml and display on home page"
We have the app hosted here:  http://open-data-maker.herokuapp.com/
but it doesn't really make sense.  It would be great to have a paragraph that explains what this is that is included as a sidebar or something

[2015-08-22 18:36] ultrasaurus opened #145 "pick some colors, fonts, etc. and add simple css for a pleasing layout"

[2015-08-22 18:40] ultrasaurus commented on #124
@cdale77 @valeriemettler  do you have any notes about what you learned last week that you might want to share with us?

[2015-08-22 18:41] ultrasaurus commented on #53
fixed with: https://github.com/18F/open-data-maker/pull/141

[2015-08-22 18:41] #53 closed

[2015-08-22 18:45] ultrasaurus opened #146 "make a humanstxt.org acknowledging our amazing contributors"
http://humanstxt.org/

It looks like there are a bunch of different formats in common use.  I like the [standard one](http://humanstxt.org/Standard.html) that gives space for twitter/github handles.

If someone could get this started, I could add the people who have contributed in other ways that don't show up as commits

[2015-08-22 19:04] valeriemettler commented on #124
@ultrasaurus, here's what I can remember, and @cdale77, please correct me
if I am wrong! We tried using this gem
https://github.com/Rendez/padrino-asset-pipeline, but we were getting a
"OpenDataMaker" is not defined error that we ran out of time to solve and
SASS wasn't compiling. Hope this helps!

On Sat, Aug 22, 2015 at 11:40 AM, Sarah Allen <notifications@github.com>
wrote:

[2015-08-22 19:19] ultrasaurus commented on #81
Some progress here:  https://github.com/18F/open-data-maker/pull/130
adding Help Wanted tag again since this didn't get done at open source pairing event and someone else might want to pick it up

[2015-08-22 19:43] ultrasaurus commented on #124
thanks @valeriemettler

[2015-08-22 19:48] ultrasaurus commented on #10
I think I changed a setting a while back -- liquid isn't supported for layouts, so now we also enable ERB which is used just for the layout.

[2015-08-22 19:48] #10 closed

[2015-08-22 19:48] #43 closed

[2015-08-22 20:23] #40 closed

[2015-08-22 20:25] ultrasaurus commented on #111
this has been resolved

[2015-08-22 20:25] #111 closed

[2015-08-22 20:31] ultrasaurus opened #149 "as a data provider, I would like to be able to merge two columns in the csv"
We have some data where information is spread across two columns, based on the value in another column.  So in the two columns each row has only one value and one NULL.

with data.yaml specification something like this:
[code]

[2015-08-23 13:19] #149 closed

[2015-08-23 14:33] ultrasaurus opened #152 "as a developer, if I use a field that doesn't exists, I should get an error with information"
Borrowing from [JSON API](http://jsonapi.org/format/), I made up some errors.  Since we typically have a lot of fields, and you might have some correct and some incorrect, I think it makes sense to still process the query, but also return the error, which helps isolate what works and what doesn't.  So if I asked to return 10 fields and 9 were fine (with the field 'whatever' not present in the data

[2015-08-23 21:42] yozlet commented on #81
Am having a poke at #130 now.

[2015-08-23 23:18] slhaines commented on #46
Do you want the columns to load left-to-right or top-to-bottom?

[2015-08-23 23:24] slhaines commented on #122
Can someone add some sample data (that is, a snippet of the real data)  for field lists to data.yaml for testing this? Where will the field descriptions be stored? Can we have a few samples of those as well? Thanks.

[2015-08-24 00:06] yozlet commented on #37
Fixed (I believe) in #154. Note that it _currently_ only lets you specify a single `null_value` for the whole `data.yaml` rather than on a per-file or per-column basis, but it should be pretty easy to extend to cover those too. @shawnbot, what do you think?

[2015-08-24 00:18] ultrasaurus commented on #122
field descriptions are in the dictionary, like this:
[code]

There are a few in there.  I'm making it be more complete.  I just need to make sure tests pass with new data and will check it in!

[2015-08-24 01:02] ultrasaurus commented on #122
@slhaines check out https://github.com/18F/open-data-maker/pull/155 -- I think it has the data you need.  Waiting for either @yozlet or you to review, then can merge to dev.

[2015-08-24 01:43] ultrasaurus opened #156 "As a data provider, I shoud be able to specify an API version that developers will see"
some changes to the YAML just require re-indexing or are updates to the docs, but other changes affect the developer API, the latter should have a developer-facing version number

[2015-08-24 01:53] ultrasaurus opened #157 "can't sort on nested field"
on branch with new sample-data (dev-sample-data), go to: http://localhost:3000/cities?sort=area.water

[code]

The issues is that this regex ```/(\w+):?(\w*)/```  given the string ```area.water``` will capture "area" and "water"

[2015-08-24 02:07] ultrasaurus commented on #157
@yozlet @ridiculous gonna write a failing spec, but I'm a but mystified why ```:?``` seems to match ```.```

[2015-08-24 02:16] ridiculous commented on #157
Oh right, didn't think about the nested fields. Changing it to `(\w+\.?\w*):?(\w*)` should fix it

[2015-08-24 02:18] ultrasaurus commented on #157
@ridiculous what do I not understand about regex ```:?``` ?

[2015-08-24 02:21] ultrasaurus commented on #157
also @ridiculous it can be deeply nested, like: one.two.three.four

[2015-08-24 02:23] ultrasaurus commented on #157
this seems to work:  ```/(\w+[\.\w]*):?(\w*)/```

[2015-08-24 02:24] ridiculous commented on #157
I think you probably understand it fine, it says zero or one colon. It's picking up `area.water` as separate fields because of how it's used with `scan`, which does a recursive matching.

To match multiple nested fields, we can change it to:
[code]

I tested it here http://rubular.com/r/8E9IYsbXWr

[2015-08-24 02:28] ultrasaurus commented on #157
@ridiculous I forgot that rubular does multiple matches.  For some reason I got caught up in the idea that there was some specialness to ```:```  -- thanks for chiming in with a quick response!

[2015-08-24 02:32] ridiculous commented on #157
:+1:

[2015-08-24 02:34] ultrasaurus commented on #46
@slhaines Do whatever is easiest and looks reasonable for the sample data.  I was thinking that would probably be top to bottom, and just two columns...  could even be open to the idea that there shouldn't be columns at all.  Do something you think looks reasonable, and we'll iterate!

[2015-08-24 02:37] ultrasaurus commented on #46
@slhaines by the way, I merged the new sample data to dev.

[2015-08-24 02:42] ultrasaurus commented on #157
PR merged!

[2015-08-24 02:42] #157 closed

[2015-08-24 03:41] ultrasaurus commented on #81
resolved https://github.com/18F/open-data-maker/pull/153

[2015-08-24 03:41] #81 closed

[2015-08-24 13:25] ozzyjohnson commented on #139
@ultrasaurus - Right, it gets the URI out of the service specified by the hardcoded service name `eservice` and `bservice`. It's that string, the service name, that I'd want to be able to specify. Otherwise, blue-green or similar deploy of the app would require multiple spaces as the app <-> space <-> service are welded together.

Being able to specify the URI directly for a non-CF deploy would gr

[2015-08-24 15:38] #37 closed

[2015-08-25 04:01] sephcoster commented on #139
Maybe this doesn't get to exactly what you're looking for, but [ES index aliasing](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-aliases.html) may give you the flexibility you need to do your blue / green and also help with scaling / pointing to multiple indexes without having to mess around with environment variables.

[2015-08-25 16:38] cdale77 commented on #124
@ultrasaurus @valeriemettler

On further investigation it appears that the app was initialized with sass support:
https://github.com/18F/open-data-maker/blob/dev/app/app.rb#L5

As far as we could tell that's what the "-c sass" flag seems to add when creating a new app. However we couldn't get it to actually compile, and that's when we ran out of time.

[2015-08-25 17:26] ultrasaurus commented on #124
@cdale doh!  then this issue is just a matter of trying it out and converting our barebones css to a sass file, so people can add in their styles.

[2015-08-25 17:31] cdale77 commented on #124
I *think*. Given that my total Padrino experience is 1.5 hours I might be
mistaken ;)

but the first thing I'd try is getting sass to work as-is. We tried to
convert to sass but it wouldn't render, but we didn't get far in figuring
out why.

On Tue, Aug 25, 2015 at 10:26 AM Sarah Allen <notifications@github.com>
wrote:

[2015-08-25 19:52] siruguri commented on #63
fyi, just started on this - figured out how to allow for the optional `/stats/` parameter in the routes definitions... gonna look into integrating the `aggs` parameter that @shawnbot mentioned earlier - [looking like Stretchy will support it](https://github.com/hired/stretchy/blob/accc547fab86cdf17921e2347a3a87847ea0cbde/lib/stretchy/clauses/base.rb).

[2015-08-26 00:50] siruguri commented on #63
@ultrasaurus - and more generally I assume you mean:
[code]
so you get back all given aggregations for all given fields.

Also, fyi - I will for now silently ignore unknown aggregation names if ElasticSearch doesn't already do that.

[2015-08-26 03:57] ultrasaurus commented on #63
@siruguri so, what are the implications for this?  will elasticsearch calculate these dynamically and cache them?  or is this something that needs to happen at index time for every field (which probably doesn't make sense?

Thinking more about how we use the API, we may want something more like
[code]
that would allow the display of a chart with the right axis labels and a line that shows how citi

[2015-08-26 16:09] ultrasaurus commented on #63
@shawnbot that would imply that someone would need to make 2 requests of the server to display the chart I mentioned above, though I suppose we might want to encourage the app to cache national averages in memory client-side...

@siruguri would be great to see a PR with any API so we could get a feel for how the implementation works, while we discuss the syntax of the API :)

[2015-08-27 14:07] scroniser commented on #145
Do you have something in mind? Is there something you're modeling this after (ie, are you just taking the existing site and toning down the colors for another site?). Once I have further info, I'm happy to jump in!

[2015-08-27 14:54] slhaines commented on #145
Hi Santina, I'm working with Jeremy on displaying the data dictionary (categories and fields), and we could really use some front-end help! (See issues #46, #122, and #143 in addition to this one.) We're working on collecting the data, just need it to be formatted nicely and responsively.

[2015-08-27 16:49] siruguri commented on #63
Here's my plan at this point, hopefully touching on all the ideas brought up so far:

1. Code up a basic syntax to play around with. I need to figure out what elastic-search does with defaults; they don't document that very well. I mainly have to write the code that maps fields into their somewhat-funky aggregation command syntax.
1. The ES interface combines index querying and aggregating into a

[2015-08-28 03:38] ultrasaurus commented on #145
Hi @scroniser -- it's likely that this app will always be modified by whichever agency that deploys it or used only via API (as we're doing for the first agency), so the pages on this site will serve as example code and the way for developers to get a feel for how the API is supposed to work.  So, we don't want anything that feels too branded or flashy, so an agency could just stick their logo at

[2015-08-28 03:40] ultrasaurus commented on #145
@scroniser to clarify, there's no real reason to us 18F colors, just sent the link for reference/inspiration

[2015-08-28 20:17] ultrasaurus commented on #152
@yozlet is working on this

[2015-08-28 20:17] ultrasaurus commented on #143
I did this last week :)

[2015-08-28 20:17] #143 closed

[2015-08-28 20:19] ultrasaurus commented on #139
@sephcoster thanks for the note and reference!  This issue refers to something really basic that we hard-code our elasticsearch reference to localhost, and likewise have bucketnames in the code, which is not awesome.

[2015-08-28 21:26] yozlet opened #168 "Scale down the disk & memory usage in our CF manifest"
... since, as @ozzyjohnson advised, the [console](https://console.18f.gov/) shows that we're using only 13% of disk and 50-60% of RAM from what we've been allocated.

[2015-08-28 22:04] shawnbot opened #169 "Support wildcards in field request parameters"
The `fields` query string parameter should support some variations that make it easier to get specific pieces of data without having to know the full "path" of each value. For instance:

* If there are `capital.name` and `capital.population` fields (which produce a JSON object with two keys in the output), you should be able to request `fields=capital` and get an object back for each result:

[cod

[2015-08-28 23:42] slhaines commented on #169
Thanks, Shawn. I've just been struggling with some tests in api_spec.rb that started failing when I updated the sample data with the new dot notation. I wasn't sure where to look to fix this (since I haven't been working on queries so far). Would that fields query string parameter be found in lib/data_magic/config.rb, or where?

[2015-08-29 18:09] ultrasaurus commented on #152
first part of this is here:  https://github.com/18F/open-data-maker/pull/164

[2015-08-29 20:19] ultrasaurus opened #171 "sample-data/data.yaml should have API examples"
it's supported by the app, but I never added it to sample data
[code]

[2015-08-29 20:20] ultrasaurus commented on #171
would be good to add dot notation with the new sample data that @slhaines is working on, something like...
```fields=capital.name,capital.population``` if we want to get only part of the data about all of the cities or for cities with more than 500,000 people, it would be something like this:  ```capital.population__range=500000...fields=capital.name,capital.population```

[2015-08-29 20:21] ultrasaurus commented on #169
@slhaines to answer you question about fields, I realized we don't really have good docs, so I wrote up this issue which (I hope) answers your question and also reminds us to fix it for everyone at some point:  https://github.com/18F/open-data-maker/issues/171

[2015-08-30 21:19] ultrasaurus commented on #136
this has been resolved

[2015-08-30 21:19] #136 closed

[2015-08-30 21:20] ultrasaurus commented on #168
When its indexing a complete data set, it uses lots more.  When it was smaller, it blew up one day :(

[2015-08-30 21:20] #168 closed

[2015-08-30 21:22] ultrasaurus commented on #107
This was merged, and I think it is working now, closing...

[2015-08-30 21:22] #107 closed

[2015-08-30 21:24] ultrasaurus commented on #48
closing since the PR was merged -- thanks @cantino and @salogel42

[2015-08-30 21:24] #48 closed

[2015-08-31 17:25] hollyallen opened #173 "As an open-data-maker user, I want the API to stay up during deployments so that I can continue using it"
This is a request for blue-green deployment on the open-data-maker server. The complementary issue for elastic search is here: https://github.com/18F/college-choice/issues/394

[2015-08-31 19:05] yozlet commented on #114
There's a related problem: at the moment, the code automatically coerces fields with `location` in their name to `float`, even if the type is set otherwise. Instead, we should remove those coercions and fail at index time if we see a `location` field that isn't set to `float` in the `data.yaml`.

[2015-09-01 04:07] ultrasaurus commented on #139
@ozzy first step of this is ready (in dev branch)
envirornment variables
- s3_bucket_service  (defaults to bservice if env var not set)
- es_service (defaults to eservice if env var not set)

[2015-09-01 12:51] ozzyjohnson commented on #139
Wondefful. I'll have a look.

On Tue, Sep 1, 2015 at 12:07 AM, Sarah Allen <notifications@github.com>
wrote:

[2015-09-01 20:44] yozlet commented on #156
The URL now begins with `/v1`, but note that we don't _quite_ consider v1 done yet - there may still be a couple of late syntax and field changes.

[2015-09-01 20:44] #156 closed

[2015-09-01 21:21] yozlet opened #175 "Provide Link headers in responses for pagination"
Not a high priority, but I love this feature: http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#pagination

[2015-09-01 21:29] yozlet opened #176 "API change: disambiguate option parameters from column/field parameters"
Before we freeze what we're calling the v1 API, we should deal with the ambiguity between options and field parameters in URLs. Our current option parameters are `fields`, `sort`, `zip`, `distance`, `page` and `per_page`. Given that Open Data Maker is intended to be a general purpose data search tool, we should avoid option names clashing with potential column names.

**Option prefix:** Prefix opt

[2015-09-01 22:14] yozlet commented on #176
Addendum: @shawnbot said in chat that `_` would be easier to use than `$` to avoid URL-encoding.

[2015-09-01 22:56] siruguri commented on #63
Just noticed #176: I'm wondering if we should implement aggregates like this instead:

[code]

The implication being that stats will be calculated on all selected fields, and if fields are non-aggregatable, then the API will either error out or ignore them, based on whatever the behavior is in ElasticSearch.

[2015-09-02 01:07] ultrasaurus commented on #176
also, seems easy to remember that _ shouldn't end up as part of the results... tho it will be used for two internal purposes

[2015-09-02 09:38] #139 closed

[2015-09-02 09:39] ultrasaurus opened #179 "support more natural search type using typical autocomplete behavior"
autocomplete on the web typically will search any word, which would be more intuitive than the current 'name' type partial matching, which requires that the first part of the first word match

[2015-09-02 09:50] ultrasaurus commented on #179
I believe this implements the desired behavior:  https://github.com/18F/open-data-maker/pull/178
Details:
- omit stop words (common english words) -- it appears that the only documentation of the word list is in the code itself. From what I've read, it comes from [lucene StopwordAnalyzerBase](http://svn.apache.org/repos/asf/lucene/dev/trunk/lucene/analysis/common/src/java/org/apache/lucene/analysi

[2015-09-02 10:01] ultrasaurus commented on #179
Actually, this is not what we want.  A search for "Phoenix University" will match every school with the word "University" in the name

[2015-09-02 19:12] siruguri commented on #63
Just a few comments as I get into this:
* @shawnbot - I assume you mean that `_metrics` will be _in addition to_ the extended route/endpoint named `/stats`, rather in place of it (in your 3rd bullet point)
* I am just re-using the existing `fields` parameter for now, and passing that to the ES aggregation command
* Passing a field that cannot be aggregated fails silently in ES, so I'll just pass t

[2015-09-03 00:00] siruguri commented on #63
threw up [PR 181](https://github.com/18F/open-data-maker/pull/181) ... lmk what you think. I owe you an integration test as mentioned in the notes.

[2015-09-03 23:03] yozlet opened #182 "BUG: Extra commas/columns in CSV break DocumentBuilder and tests"
If there are too many commas in a CSV row, DocumentBuilder attempts to match values to field names and fails, leading to this error:
[code]
(emitted by `DocumentBuilder::map_field_names()`)

Here's [an example file that causes this](https://github.com/18F/open-data-maker/blob/2022316fe41faa939409dffea709b452a73255a2/spec/fixtures/school_names/school_names.csv).

In this case it's arguable that Doc

[2015-09-03 23:55] yozlet commented on #176
OK, going with `_`. Thanks everyone!

[2015-09-04 03:54] ultrasaurus commented on #176
fixed with https://github.com/18F/open-data-maker/pull/184

[2015-09-04 03:54] #176 closed

[2015-09-04 21:14] ultrasaurus opened #186 "InternalServerError for null field"
![image](https://cloud.githubusercontent.com/assets/41906/9694602/06027e62-530f-11e5-85bf-934c79571bd8.png)

https://ccapi-dev.18f.gov/v1/schools/?id=196431&fields=2013.student.part_time_share

I think there might be a mapping error here, but this also should give us a more friendly response

![image](https://cloud.githubusercontent.com/assets/41906/9694619/39970b4e-530f-11e5-90fe-ac266417d85b.png

[2015-09-04 22:39] ultrasaurus opened #188 "as a data scientist or developer, I want to be able to search for null in any field type"
https://ccapi-dev.18f.gov/v1/schools?2013.student.size=null&fields=school.name,id,school.state,2013.student.size

[code]

[2015-09-04 22:48] yozlet commented on #188
If we want to keep it possibl to search for the word "null" as well as null values, this may need a new operator.

What would you say the priority is?

[2015-09-05 15:44] ultrasaurus opened #190 "if the server is restarted during indexing, it just halts and never resumes"
The current behavior is that the version is updated in Elasticsearch 'config' document when indexing begins.  This approach is not resilient, since if the server is restarted during indexing, there's no way to know that we've only partially indexed the data.

[2015-09-05 19:52] ultrasaurus opened #191 "server crash (out of memory), when requesting large page size"
https://ccapi-staging.18f.gov/v1/schools/?school.operating=1&2013.student.size__range=0..&school.region_id=2&school.degrees_awarded.predominant__range=2..3&fields=id,school.name,school.state&per_page=700

2015-09-05T12:50:32.05-0700 [API/0]      OUT App instance exited with guid e1079a79-aa20-4906-aff1-5111821a5cc3 payload: {"cc_partition"=>"default", "droplet"=>"e1079a79-aa20-4906-aff1-5111821a5c

[2015-09-05 23:20] ultrasaurus opened #192 "distance should allow for decimal values"
People expect to be able to search like this:  http://localhost:3000/v1/cities?zip=94132&distance=5.5mi

Currently causes a 500 error

[2015-09-08 23:25] #191 closed

[2015-09-09 13:37] ultrasaurus opened #199 "MOAR API DOCS"
need to add the following sections to API.md

### Limiting Returned Fields with `_fields`

### Pagination with `_page` and `_per_page`

### Sorting with `_sort`

### Geographic Filtering with `_zip` and `_distance`

## Considerations when using the `api.data.gov` proxy

[2015-09-09 14:21] ultrasaurus commented on #199
@yozlet did another PR with more documentation.  I didn't have any idea for what you mean by "Considerations when using the api.data.gov proxy"

[2015-09-09 22:11] ultrasaurus opened #204 "the number of elasticsearch shards should be configurable"
This is important for scaling

[2015-09-09 22:49] yozlet commented on #199
I can take the rest of this. What I meant by api.data.gov considerations was simply providing the API key in the URL, but I'll leave that for the moment.

[2015-09-09 22:57] diego- commented on #199
FYI I sent a link to API.md to the beta group as part of a broader notice
about the prod API.

On Sep 9, 2015, at 6:49 PM, Yoz Grahame <notifications@github.com> wrote:

I can take the rest of this. What I meant by api.data.gov considerations
was simply providing the API key in the URL, but I'll leave that for the
moment.

—
Reply to this email directly or view it on GitHub
<https://github.com/18F

[2015-09-10 16:17] ultrasaurus opened #207 "allow Cloud Foundry configuration with an array of elasticsearch instances"
to support: https://github.com/18F/college-choice/issues/1201

[2015-09-10 16:18] ultrasaurus commented on #207
In data_magic.rb, it would be changing this:
[code]

[2015-09-10 21:47] slhaines commented on #145
@ultrasaurus See pull request #209, which incorporates this request.

[2015-09-10 23:30] ultrasaurus commented on #145
@slhaines sweet.  I will take a look later today / tonight

[2015-09-11 12:42] ozzyjohnson commented on #207
This worked like a charm, lots of smarts baked into the elasticsearch client. Would like to combine this with the larger instance type in `ex`.

[2015-09-11 18:40] siruguri commented on #63
Hi guys - just checking if you want to review the PR first, or should I rebase to the latest HEAD on dev, before you review it?

[2015-09-11 19:16] siruguri commented on #63
No worries, just checking if you wanted me to do something first... I can
of course wait :) Good luck with the launch.

On Fri, Sep 11, 2015 at 12:09 PM, Shawn Allen <notifications@github.com>
wrote:

[2015-09-13 13:20] dnesting opened #213 "NoMethodError: undefined method `[]' for nil:NilClass in query_builder.rb:132"
We've seen a few dozen of these errors in production for /v1/schools/ over the last few hours:

[code]

[2015-09-13 13:36] dnesting commented on #213
This appears to happen when you search with an invalid ZIP code and non-empty radius, e.g.:

https://collegescorecard.ed.gov/search/?zip=00002&distance=5&sort=advantage:desc
[code]

[2015-09-13 13:38] dnesting commented on #213
Since this can not match any results, we should either generate an error to that effect, or perhaps simply validate on query_builder.rb:127 that location is defined.

[2015-09-13 13:47] dnesting opened #214 "Stretchy::Errors::ValidationError with negative search distance"
User input can cause an invalid geo squery to be generated:

[code]

You can cause this to happen with a negative distance (though I don't know if this is the cause of all of the errors), e.g.:

https://collegescorecard.ed.gov/search/?zip=95054&distance=-5&sort=advantage:desc

[code]

There have only been a handful of these errors today (e.g. https://rpm.newrelic.com/accounts/1065766/applications/

[2015-09-13 19:49] ultrasaurus commented on #214
related to #192

[2015-09-13 23:38] dnesting opened #215 "NoMethodError: undefined method `keys' for nil:NilClass on data_magic.rb:98"
These are occurring at the rate of dozens today.

[code]
e.g. https://rpm.newrelic.com/accounts/1065766/applications/8349766/traced_errors/81903e-49790e6a-5a5f-11e5-8d1d-b82a72d2466d

I *suspect* I've found the query responsible for one of these but I can't actually reproduce it.  Possibly it's an intermittent ES response that isn't in the expected form.

[2015-09-14 00:01] dnesting opened #216 "Search with ZIP+4 results in Internal Service Error (ElasticSearch BadRequest)"
The web site seems to work around this problem, but the API should probably not be generating this type of error in response to a ZIP+4 search.  We've seen this error appear on the order of a dozen or so times today.

[code]

[2015-09-14 21:38] ozzyjohnson opened #217 "SystemStackError: stack level too deep"
This error occurred continuously on a single, newly created instance following a scaling event.

https://rpm.newrelic.com/accounts/1065766/applications/8349766/traced_errors/82d841-e69812da-5af7-11e5-8d1d-b82a72d2466d

[2015-09-15 04:07] ozzyjohnson opened #218 "Possible memory leak issues in Puma."
@GUI dropped a link about this the other day.

https://github.com/puma/puma/issues/342

Today two instances crept over their limits - see `cf events` for details. The result is a spike in [response time](https://rpm.newrelic.com/accounts/1065766/applications/8349766) as the new droplet launches. The average doesn't look bad, but ~1% will be a multiple of that.

For the meantime, I'll see about cyc

[2015-09-15 14:22] GUI commented on #218
Just for reference, when I hit this problem on other apps, I ended up adding a cronjob to periodically run `pumactl restart` on my app. It's certainly not ideal, but it should be a zero-downtime operation (although, there may be some brief pauses depending on whether your using hot or phased [restarts](https://github.com/puma/puma#restart)). The puma_worker_killer gem referenced in that issue seem

[2015-09-15 18:42] ozzyjohnson commented on #218
Thanks @GUI.

I'm liking the look of puma_worker_killer, more granular than handling things in CF.

[2015-09-16 11:46] dnesting opened #219 "NoMethodError: undefined method `each' for "/home/vcap/app/app/stylesheets":String"
[code]

We've only seen a single instance of this error.  I believe this is due to a multi-threading race condition and I've opined on sass/sass#1827 to address upstream.  If so, a workaround would be for us to use the array form of this in lib/sass_initializer.rb:

[code]

[2015-09-18 14:24] dnesting opened #220 "ElasticSearch BadRequest on match_all with sort criteria"
We've seen this a few times in production.  It's not clear how I can reproduce it and it may be the result of someone playing with the API, but we should not generate internal errors as a result of bad user input.

[code]

[2015-09-21 21:29] yozlet commented on #207
Just need to make sure we only use multi-node setups for reading and not indexing.

[2015-09-24 23:58] yozlet commented on #199
Fixed by #193 and #201.

[2015-09-24 23:58] #199 closed

[2015-09-25 00:00] ultrasaurus commented on #188
let do something like:  https://ccapi-dev.18f.gov/v1/schools?2013.student.size__null=true&fields=school.name,id,school.state,2013.student.size

or

let do something like:  https://ccapi-dev.18f.gov/v1/schools?2013.student.size__null=false&fields=school.name,id,school.state,2013.student.size

[2015-09-25 02:14] reneighbor commented on #186
Working with Caleb

[2015-09-25 02:16] NatashaHull commented on #104
I and @heystenson are going to take a look at this.

[2015-09-25 03:00] ultrasaurus commented on #186
this is working on the dev server now:  https://ccapi-dev.18f.gov/v1/schools/?id=196431&fields=2013.student.part_time_share

[code]

[2015-09-25 03:05] ultrasaurus commented on #186
This query actually results as a null result:

https://ccapi-dev.18f.gov/v1/schools/?id=196431&fields=2013.student.demographics.unemployment

[code]

[2015-09-25 03:36] reneighbor commented on #186
couldn't reproduce - releasing bug

[2015-09-25 03:53] NatashaHull commented on #104
fix is https://github.com/18F/open-data-maker/pull/223. It has tests, and is easily changeable to support more boolean types if necessary.

[2015-09-25 03:53] #135 closed

[2015-09-25 14:01] ultrasaurus commented on #186
my guess is this only fails with nested data, though would be good to have tests that cover both non-nested and nested data

[2015-09-27 05:21] siruguri commented on #63
I just submitted a new PR incorporating our previous discussion in #181 - which I realized should have occurred here? :)

I enthusiastically added the feature that if you don't say which metrics you want, all metrics, except count which seems redundant, are returned. I then discovered that Travis' ES will not return `std_deviation_bounds` so my tests work locally and not on Travis.

I could make m

[2015-10-08 21:37] siruguri commented on #63
Ping ... any thoughts on integrating these changes?

[2015-10-08 23:35] hollyallen opened #227 "Querying for a school by name and returning location.lon does not work"
When querying for a school by name and wanting to get the location.lon value, the result in an error. Other return values, such as school id, work as expected.

Based on this user report: http://opendata.stackexchange.com/questions/6169/unable-to-get-lat-long-in-api-call

[2015-10-09 23:27] ultrasaurus commented on #63
@siruguri sorry -- we had some DC travel and got distracted by a couple of other things, will try to look this weekend.  Thanks for staying on this!

[2015-10-14 00:03] yozlet commented on #227
Apparently we [explicitly exclude the location fields from the `field_types()` method](https://github.com/18F/open-data-maker/blob/dev/lib/data_magic/config.rb#L244) which is why that error's coming up. (And we also [explicitly add a `geo_point` type for `location` whether or not such a field is in the dataset](https://github.com/18F/open-data-maker/blob/dev/lib/data_magic.rb#L139). )

@ultrasauru

[2015-10-14 00:12] slhaines commented on #227
Is it because their searches are not yet adapted to the dot notation: location.lat and location.lon?

[2015-10-14 01:19] yozlet commented on #227
@slhaines: No, they're querying the right way, but we're effectively not allowing that for some reason. Also, just using `_fields=location` causes some weird errors in the tests. Will investigate further.

[2015-11-13 23:28] hollyallen opened #230 "Searching by 2013.completion.title_iv.low_inc.completed_by.4yrs gives Internal Server Error"
Searching by 2013.completion.title_iv.low_inc.completed_by.4yrs gives Internal Server Error

Example: https://api.data.gov/ed/collegescorecard/v1/schools?fields=2013.completion.title_iv.low_inc.completed_by.4yrs&api_key=<your key here>

[2015-11-17 16:58] arm5077 opened #231 "CSV endpoint is not returning the same number of fields as JSON endpoint?"
If you query `https://api.data.gov/ed/collegescorecard/v1/schools.json?fields=id,school.name,2013.student.size,2013.student.demographics.race_ethnicity.white`, you get:
[code]
But if you query `https://api.data.gov/ed/collegescorecard/v1/schools.csv?fields=id,school.name,2013.student.size,2013.student.demographics.race_ethnicity.white`, you get:
[code]
The CSV is missing a bunch of columns.

[2015-11-18 10:17] ultrasaurus commented on #104
This needs someone to pick up the [WIP] pull request #223 and add a unit test for DataMagic::ErrorChecker.report_wrong_field_type() that checks for booleans and the corresponding code.

This is a small task for someone who knows Ruby and would be a good exercise in pulling from someone else branch (adding a git remote, etc) and then submitting a new PR.

[2015-11-18 10:21] ultrasaurus commented on #227
location was implemented as a special case -- the name is hard-coded to "location" and geocoding is handled special for this one field.

[2015-11-18 10:35] ultrasaurus commented on #230
here's what I see in the log when I run this query on the dev server:
[code]

[2015-11-18 10:36] ultrasaurus commented on #230
this may be fixed with:  https://github.com/18F/open-data-maker/pull/228

[2015-11-18 10:57] ultrasaurus commented on #230
confirmed with local dev env that this has been resolved

[2015-11-18 10:58] ultrasaurus commented on #230
@hollyallen should we create some kind of state for fixed and not deployed?  for now will label as "accept" (which I think means it is ready for someone to accept it, which would technically only be true once it has been deployed to staging)

[2015-11-18 11:02] ultrasaurus commented on #220
Indeed, seems to be someone experimenting with the API.  I can reproduce locally with 4 years of College Scorecard data:
[code]

Definitely a bug

[2015-11-18 12:18] ultrasaurus commented on #220
note: in general sort does work.  Using the dafault cities data in sample-data, this works: http://localhost:3000/v1/cities?sort=population:desc

However, this doesn't:  http://localhost:3000/v1/cities?sort=whatever:desc

this is an issue with error reporting when you try to sort by a field that is not available.

[2015-11-18 12:52] ultrasaurus commented on #213
To reproduce using the default sample-data, this query shows the same failure:  <http://localhost:3000/v1/cities?zip=00002&distance=5>

Notice when the zip is valid, we get a json response:  <http://localhost:3000/v1/cities?zip=94132&distance=5>

I think we need to address some missing logic at a few levels:

1. the [ZipCode library](https://github.com/18F/open-data-maker/blob/dev/lib/zipcode/zipc

[2015-11-18 12:57] ultrasaurus commented on #216
Since our zip code data doesn't have ZIP+4 right now, would prolly make sense for the zip code library to just strip the +4 part of the code

Maybe address as part of error handling in #213

[2015-11-18 13:00] ultrasaurus commented on #186
I believe this is resolved, just needs verification

[2015-11-18 13:02] ultrasaurus commented on #105
a volunteer did some work on the implementation, but it needs tests before we can move forward with this:  https://github.com/18F/open-data-maker/pull/128

[2015-11-18 13:05] ultrasaurus commented on #214
Note:  this can no longer be caused by user input on https://collegescorecard.ed.gov/ but the API should be well-behaved

[2015-11-18 13:10] ultrasaurus commented on #215
I believe this is a dup of https://github.com/18F/open-data-maker/issues/186 -- we should check for this in the log after deploying that fix

[2015-11-18 13:13] ultrasaurus commented on #179
this was resolved in Sept

[2015-11-18 13:13] #179 closed

[2015-11-18 13:14] ultrasaurus commented on #152
we've started tracking specific errors (or lack thereof) each with their own issue, so I'm closing this as representing the overall error-handling

[2015-11-18 13:14] #152 closed

[2015-11-18 19:46] ultrasaurus opened #232 "I would like to search by synonym (e.g. LA => Los Angeles)"
for the "autocomplete" type (which is basically do-what-I-mean for search) where we search names...

in College Score, we would like to search for MIT and find Massachusetts Institute of Technology, or UCLA and find University of California-Los Angeles

in our cities data, we might want to search for LA and find Los Angeles, or NYC and find New York

[2015-11-18 23:47] hollyallen opened #233 "As a user I want to search for school names which contain two letter words"
( The companion ticket for this is: https://github.com/18F/college-choice/issues/1370 )

As a user I want to search for school names, like St Louis, which contain two letter words. Currently only searches for names with three letter words yield results.

Steps to reproduce:
1. On College Scorecard homepage, enter "St" in the Name search box

Expected Result:
* Search results with colleges with "St

[2015-11-18 23:52] hollyallen commented on #232
The companion for this ticket is https://github.com/18F/college-choice/issues/187

[2015-11-19 00:14] ultrasaurus opened #234 "apply US Web Design standards style to the HTML pages"
https://playbook.cio.gov/designstandards/getting-started/

[2015-11-19 00:46] ultrasaurus commented on #231
appears that the CSV is missing nested columns

[2015-11-19 03:55] ultrasaurus commented on #233
This is the line that needs to change:
https://github.com/18F/open-data-maker/blob/dev/lib/data_magic.rb#L170

needs some test cases and some thought that we don't introduce unhappy side effects

[2015-11-19 04:56] ultrasaurus opened #237 "in Elasticsearch 2.0: field names may not contain dots"
For now, we need to use 1.x  -- I'm using 1.7.2 which works fine.

https://www.elastic.co/guide/en/elasticsearch/reference/2.0/breaking_20_mapping_changes.html#_field_names_may_not_contain_dots

We will need to create an alternate syntax, at least internally so we don't send elasticsearch fields with dots in them since we don't want to stay in old-version-land forever.

[2015-11-19 04:57] sophiez2628 opened #238 "latest ElasticSearch version seems to be incompatible"
1.7.x seems to be the version that works with open data maker

READ ME should have instructions for installing older versions of elastic search, just in case the bootstrap script does not work.

[2015-11-19 04:58] sophiez2628 opened #239 "padrino gem instruction should be incorporated into read me as well"

[2015-11-20 06:30] mattmills commented on #213
I think this does the trick (mostly done at the hacknight, but tidied up just now): https://github.com/18F/open-data-maker/pull/240

[2015-11-20 13:27] dnesting commented on #219
My upstream fix for this was accepted and is now in saas stable.  I expect it to be in saas release 3.4.20 later this month.

[2015-12-08 18:52] ultrasaurus opened #243 "support OR in data.yml computed fields, allowing for more than 2 operands"
so we could do something like:

[code]

this is needed to address: https://github.com/18F/college-choice/issues/951

[2015-12-09 05:27] ultrasaurus commented on #238
README refers to INSTALL.md -- fixed there, I think!

[2015-12-09 16:16] ultrasaurus commented on #243
FYI: I'm working on this.  I experimented with https://github.com/rubysolo/dentaku -- but it wasn't a good fit since Ruby evaluates `0` to true, and also our symbols are case-sensitive.   I've got something working using https://github.com/kschiess/parslet which seems to work quite well, producing clean and robust code that is easily extensible.

I'm still doing some local testing, but I updated h

[2015-12-14 23:11] yozlet opened #247 "Set up continuous deployment for different branches/spaces"
Committing to `dev`, `staging` and `master` should push to the `dev`, `staging` and `production` CF spaces respectively. This requires setting our CI service up to do those deployments.

[2015-12-14 23:16] yozlet commented on #247
At present, Travis is set up to auto-deploy only to `dev`, but thanks to the `manifest.yml` it pushes the app with the name `ccapi-staging`. Both the space and the app name should depend on which branch is being pushed.

[2015-12-15 23:16] yozlet opened #248 "Incompatibility with ElasticSearch 2.x"
This is a tracking issue for all ElasticSearch 2.x-related problems.

[ ] field names may not contain dots #237

[2015-12-15 23:19] yozlet commented on #238
Closing this in favour of a new tracking issue at #248. Thank you for reporting this, @sophiez2628!

[2015-12-15 23:19] #238 closed

[2015-12-17 20:17] #243 closed

[2015-12-30 02:02] yozlet opened #250 "Importer won't find data.yaml if there are too many files in the S3 bucket"
When `DataMagic::Config` looks for `data.yaml` it grabs the list of files in the S3 bucket and searches it for the filename. However, `@s3.list_objects()` only returns 1000 objects at a time, and if there are over 1000 objects in the bucket (because of backups/snapshots) then `data.yaml` won't be in that list and won't be loaded.

I suspect the best solution here is to not rely on file listing, an

[2015-12-31 22:54] yozlet opened #251 "Add a "config" endpoint which lets us examine the config with which the server was started"
... because viewing through a browser - even just as a big JSON dump - is still considerably easier than piling through logs. (And we'd be able to clean up the the log output)

[2015-12-31 23:02] yozlet opened #252 "Add endpoint for viewing the current import status/progress"
Something else we try to divine from logs which we could instead read from the app itself.

[2016-01-05 20:17] dnesting commented on #250
+1 to "just try to do the thing" and not "see if we think the thing will work, and then try it" as a general rule.

[2016-01-05 23:39] ultrasaurus opened #254 "Failure to load config should cause the app to loudly exit"
unless ALLOW_MISSING_YML is defined

[2016-01-05 23:40] ultrasaurus opened #255 "if config fails to load, error should be logged"
read_path() just swallows the error -- not found might be expected, other errors should be raised and cause the app to fail to launch

[2016-01-05 23:43] #250 closed

[2016-01-06 19:52] yozlet opened #257 "DataMagic::QueryBuilder#add_aggregations uses config#column_field_types, probably shouldn't"
... since `column_field_types`, unlike `Config#field_type`, doesn't handle nested fields. At least, we believe. But we want to stop using `column_field_types` outside of DocumentBuilder anyway.

[2016-01-06 23:08] ultrasaurus opened #258 "set up rubocop (after making code conform to some standards!)"
https://github.com/18F/open-data-maker/pull/236 is a good idea, but I think at this point we need to reapply changes

[2016-01-07 00:47] yozlet opened #260 "Boolean calculated fields eval to true when they should be false"
Example: when fields A, B and C are all `0`, a calculated field with expression `A or B or C` will still return `true`.

Reason: We're not casting the CSV column values to the correct types before evaluating the expression, so the expression evaluator is comparing the string `"0"` (which is `true`) rather than the number `0` (which is - in our expression evaluator, anyway - `false`)

[2016-01-07 00:49] yozlet opened #261 "Boolean false values are converted to nil when fetched from ElasticSearch"
`DataMagic.search` has this line:

[code]

... which is meant to create a `nil` hash entry if that entry does not exist. Unfortunately, if that entry _does_ exist _and_ has a `false` value, it will be overwritten with `nil`.

[2016-01-07 01:10] #254 closed

[2016-01-07 01:49] yozlet opened #263 "Use ElasticSearch bulk import to speed up indexing"
https://www.elastic.co/guide/en/elasticsearch/reference/1.4/docs-bulk.html
http://www.rubydoc.info/gems/elasticsearch-api/Elasticsearch/API/Actions#bulk-instance_method

related:
- Bulk insert https://github.com/18F/open-data-maker/pull/86

[2016-01-08 22:53] yozlet opened #264 "Update API documentation with /stats endpoint info"

[2016-01-08 23:26] yozlet opened #265 "NR error: "Undefined method '[]' for nil:NilClass" in QueryBuilder#search_location"
[New Relic example](https://rpm.newrelic.com/accounts/1065766/applications/8349766/filterable_errors#/show/bb333c-9f75e7f4-b17d-11e5-9286-b82a72d2466d/stack_trace?top_facet=transactionUiName&primary_facet=error.class&_k=yibim9). Frequency: 16 times from Jan 1 to Jan 7.

Stack trace:
[code]

Refers to [this line](https://github.com/18F/open-data-maker/blob/a5c5a18381214d3a51ab54152b463727bb3f79bc/l

[2016-01-08 23:36] yozlet opened #266 "NR error: "Stretchy::Errors::ValidationError" in QueryBuilder::search_location"
[New Relic example](https://rpm.newrelic.com/accounts/1065766/applications/8349766/filterable_errors#/show/bb31c3-27d06acf-b330-11e5-9286-b82a72d2466d/stack_trace?top_facet=transactionUiName&primary_facet=error.class&_k=0a4gzz). Frequency: 3 times from Jan 1 to Jan 7.

Stack trace:
[code]

Refers to [this line](https://github.com/18F/open-data-maker/blob/a5c5a18381214d3a51ab54152b463727bb3f79bc/li

[2016-01-08 23:48] yozlet commented on #169
Also requested on StackExchange: http://opendata.stackexchange.com/questions/6234/get-all-the-data-from-category-or-subcategory-from-collegescorecard-api

[2016-01-08 23:50] yozlet commented on #169
I'm increasingly interested in getting this implemented, would help a lot with exploratory testing. I _think_ the problem is not in formatting the ES query but rather in just recognising that a partially-specified path is also a valid field - at the moment [all field names are checked against a list](https://github.com/18F/open-data-maker/blob/a5c5a18381214d3a51ab54152b463727bb3f79bc/lib/data_magi

[2016-01-11 22:55] #260 closed

[2016-01-12 18:55] ultrasaurus opened #267 "to improve indexing performance, we should let Elasticsearch do the update"
To implement nested documents, the current code fetches the whole document from Elasticsearch and then sends an update with a new document.  This is highly inefficient, when es has the ability of updating a nested doc:

https://github.com/18F/open-data-maker/blob/dev/lib/data_magic/index.rb#L79-L85

[2016-01-12 18:57] pkarman commented on #267
doc reference: https://www.elastic.co/guide/en/elasticsearch/guide/current/partial-updates.html

[2016-01-12 19:23] ultrasaurus opened #268 "latest dev branch fails to deploy on Cloud Foundry"
[code]

[2016-01-12 23:08] yozlet commented on #268
We worked out that this was due to bad code in #256, in particular the new [`read_from_s3`](https://github.com/18F/open-data-maker/blob/a1ca437353789a74a3e18058383b284fbbb7c922/lib/data_magic/config.rb#L299-L310) using S3 client methods that actually don't exist. @ultrasaurus is working on a fix.

[2016-01-13 22:20] #268 closed

[2016-01-15 01:17] yozlet opened #271 "Can't push to CF with current Ruby version"
Since the CF upgrade, attempting to push to CF results in this error:

[code]

(solution - upgrade to 2.2.4)

[2016-01-15 01:29] #271 closed

[2016-01-25 22:29] yozlet opened #276 "NR error: undefined method `each' for nil:NilClass in DataMagic.search"
[New Relic error log](https://rpm.newrelic.com/accounts/1065766/applications/7790612/filterable_errors#/show/c5b584-592d21ab-c3b2-11e5-bb22-b82a72d2466d/stack_trace?top_facet=transactionUiName&primary_facet=error.class&_k=n4gixl). Error triggered by loading this URL on staging: https://ccapi-staging.18f.gov/v1/schools/stats?school.degrees_awarded.predominant=2,3&_fields=2013.student.size&_metrics=

[2016-01-26 01:30] yozlet commented on #276
Oops, my mistake. The problem with the above query is the `_fields=2013.student.size` part. It appears that we get this error with any year-nested fields. Aggregating on `schools.*` fields works fine.

I think the problem is happening in the query formulation. Here's the query generated for aggregating on `school.tuition_revenue_per_fte`:
[code]

and here's the query for aggregating on `2013.cost.

[2016-01-26 01:51] yozlet opened #277 "Stats queries return useless page, per_page and results JSON elements"
See example results JSON below.

[code]

The two `page` elements in `metadata` are irrelevant, as is the always-empty `results` array. We should remove those entirely.

[2016-01-26 02:07] yozlet opened #278 "Stats queries return integers as numbers, floats as strings"
Example:

[code]

... whereas what we get when querying ES directly is:

[code]

I initially thought this was something to do with Ruby mis-parsing scientific notation, but now I suspect it's something in our type-detection output code.

[2016-01-26 02:15] siruguri commented on #276
which branch has the code that I can check this on? master?

[2016-01-26 02:18] yozlet commented on #276
Yep, this is in master now (as of last week) but otherwise try `dev`.

[2016-01-26 02:19] yozlet commented on #276
Also, this bug only surfaces with nested data - look at the `spec/fixtures/nested-files` and `spec/fixtures/nested2` fixtures.

[2016-01-26 03:11] yozlet opened #282 "Upgrade Stretchy for ES 2.x"
If/when we move to ElasticSearch 2.x, we'll need to upgrade Stretchy. And when we do that, we'll get a load of breakage (as I just discovered when doing an experimental `bundle update`):

 * `Stretchy.delete` becomes `Stretchy.delete_index` (needed [here](https://github.com/18F/open-data-maker/blob/dev/lib/data_magic/config.rb#L72))
 * `API#to_search` no longer works - I think we might need `API#r

[2016-01-26 18:55] ultrasaurus commented on #278
I just discovered the same thing.  For quick reference, here's a sample query:

localhost:3000/v1/schools/stats?school.degrees_awarded.predominant=3&_fields=school.instructional_expenditure_per_fte&_metrics=avg,sum,std_deviation,std_deviation_bounds

[2016-01-27 20:35] siruguri commented on #276
I think I'll have time early next week to look into this ... lmk if you get
to it earlier. I'm guessing it's something to do with the check for types
in `lib/data_magic/query_builder.rb` line 45. Maybe the nested fields cause
the `column_field_type` to not be set to integer or float?

On Mon, Jan 25, 2016 at 6:19 PM, Yoz Grahame <notifications@github.com>
wrote:

[2016-01-28 19:46] yozlet commented on #218
Here's a direct link to the gem: https://github.com/schneems/puma_worker_killer

[2016-02-02 00:06] yozlet commented on #227
Since it may take us a while to get around to fixing, have documented in #283.

[2016-02-05 20:04] yozlet opened #284 "NR error: "Undefined method '[]' for nil:NilClass" in DataMagic#client:286"
Trace:

[code]

This is caused by a CF app instance not finding the `eservice` binding, which is a configuration issue. We need a more descriptive error here.

[2016-02-10 22:26] ultrasaurus opened #285 "connect rubocop to set some coding standards and ensure that that new commits are consistent"
Liked what I saw in this PR:  https://github.com/18F/open-data-maker/pull/229

needs to be redone with latest code

[2016-02-11 07:21] ultrasaurus commented on #276
actually, I think in this case it is because the [resulting values](http://localhost:3000/v1/schools?school.degrees_awarded.predominant=2,3&_fields=2013.student.size) are all `null` so I guess the stats aren't calculated and `result['aggregations']` is nil

[2016-02-11 23:49] #255 closed

[2016-02-12 00:15] yozlet commented on #276
Reopening because this issue isn't fixed, though thanks to #286 it's no longer throwing exceptions; it just returns empty results. Still needs a failing test.

[2016-02-12 00:55] ultrasaurus opened #289 "to use git flow merging strategy we want files to be the same in dev, staging, master"
One approach is to make it so the apps in each instance have the same name (`ccapi`) so this file doesn't need to differ in each env:  https://github.com/18F/open-data-maker/blob/master/manifest.yml

[2016-02-12 23:33] ultrasaurus commented on #289
fixed with https://github.com/18F/open-data-maker/pull/291

[2016-02-12 23:33] #289 closed

[2016-02-17 22:19] ultrasaurus commented on #278
@siruguri would you have time to take a look at what's going on here?

[2016-02-17 22:25] ultrasaurus opened #293 "Read CSVs in chunks using smarter_csv"
We should consider this PR:  https://github.com/18F/open-data-maker/pull/94

[2016-02-17 22:27] siruguri commented on #278
I have to re-install elastic search because I got a new laptop, and remind
myself how to load up some dummy data... I can take a whirl at that this
afternoon, and hopefully at least point out what the deal is... not sure if
I can get around to fixing/testing it in the next few days...

On Wed, Feb 17, 2016 at 2:19 PM, Sarah Allen <notifications@github.com>
wrote:

[2016-02-18 15:06] pkarman commented on #293
Also this: http://xjlin0.github.io/tech/2015/05/25/faster-parsing-csv-with-parallel-processing/

[2016-02-18 20:53] pkarman commented on #293
#295 implements this

[2016-02-18 20:54] pkarman commented on #263
after some profiling, I do not think ES bulk import would improve the ES speed. 80% of indexing time is spent in marshaling the CSV data.

See #295

[2016-02-18 20:56] pkarman commented on #267
I believe this is already implemented. When working on #295 I added a `ES_DEBUG` env variable and there is no ES fetch being performed. The ES `update` feature is already being used.

[2016-02-18 21:00] siruguri commented on #278
in controllers.rb, line 75, the `.to_json` calls `.to_s` on each item in
the hash `data`. Floats are BigDecimals; so to_s makes them strings which I
think is the behavior of `BigDecimal`, whereas the integers are Fixnums
(maybe?).

So the solution would be either to intercept the `to_s` if possible in
`JSON`, or post-process the output.

I am not too sure when I can get to this, maybe next week? I

[2016-02-23 04:49] siruguri commented on #278
So the writer of `BigDecimal` actually wanted the default implementation to be that floating points are rendered as strings by the `to_json` method, to reduce the possibility of (small) errors during de/re-serialization of data. As far as I could figure, it seems like monkey-patching `BigDecimal` is the only solution, with the caveat that it will produce this corner-case error.

Should I do that?

[2016-02-25 00:16] yozlet commented on #266
Fixed by #286.

[2016-02-25 00:16] #266 closed

[2016-02-25 00:16] yozlet commented on #265
Fixed by #286.

[2016-02-25 00:16] #265 closed

[2016-02-25 00:17] yozlet commented on #261
Fixed by #262.

[2016-02-25 00:17] #261 closed

[2016-03-04 20:18] yozlet commented on #278
Sorry to be so slow, @siruguri! Ugh, this is a nasty one, and I'm really torn. Providing floats as strings feels like giving a worse user/developer experience in return for a level of accuracy that - in all the existing use cases, anyway - really isn't needed. On the other hand, Open-data-maker is meant to be domain-agnostic, and I can't speak for the needs of future data sets and their users. (On

[2016-03-08 16:27] siruguri commented on #278
I'm open to either solution though I think I'd rather un-string the value
in the open-data-maker code than monkey-patch BigDecimal. I'll work on this
today.

On Fri, Mar 4, 2016 at 12:18 PM, Yoz Grahame <notifications@github.com>
wrote:

[2016-03-08 18:30] siruguri commented on #278
In fact, now that I think about it,

sounds equiv to, "let's cast the `BigDecimal` object via `.to_f`" Should I do that instead? Thoughts? Then `.to_json` will continue to produce non-stringified numbers.

[2016-03-08 19:40] yozlet commented on #278
@siruguri Yes, that sounds like the right option to me. Thank you!

[2016-03-09 00:33] siruguri commented on #278
#303

[2016-06-20 19:44] yozlet commented on #293
Ultimately implemented & merged in #297.

[2016-06-20 19:44] #293 closed

[2016-06-20 19:45] yozlet commented on #258
Closing in favour of #285

[2016-06-20 19:45] #258 closed

[2016-06-20 19:47] yozlet opened #311 "Upgrade Padrino"
Last time I tried to upgrade [Padrino](https://padrinorb.com/) from 0.12.x to the latest version (0.13.2 at time of writing) it broke a couple of tests, and I didn't have time to investigate further.

[2016-06-20 19:50] #263 closed

[2016-06-23 18:22] yozlet commented on #311
Further investigation with @kynetiv: there appears to be a weird change in how Padrino defines and calculates routes. [This `url_for` call](https://github.com/18F/open-data-maker/blob/375cb34704d009f48f9fe412eb7aa442ff9c54ca/app/controllers.rb#L39) fails to find a matching route despite that very route [being defined below](https://github.com/18F/open-data-maker/blob/375cb34704d009f48f9fe412eb7aa4

[2016-06-23 18:54] yozlet commented on #284
Fixed in #305, test added in #312

[2016-06-23 18:54] #284 closed

[2016-06-28 00:59] LindsayYoung opened #313 "Periodic 502s on the /schools endpoint"
I ran across this in my other job. My class is learning APIs and one of my students found that you get a 502 error every 6 or so calls, when paging though https://api.data.gov/ed/collegescorecard/v1/schools?api_key=DEMO_KEY&school.degrees_awarded.highest=2&school.ownership=1

Thought I would post here in case it was helpful. Thanks again!

[2016-07-01 16:13] yozlet commented on #231
People are still hitting this problem: http://opendata.stackexchange.com/questions/7204/college-scorecard-api-call-returns-all-data-in-json-but-only-two-fields-in-csv

[2016-07-21 23:01] markalanevans opened #318 "How do we query the college score card and just get all data but only for a given year?"

[2016-07-21 23:22] marks commented on #318
I think this question might be better suited for the Open Data Stack Exchange at http://opendata.stackexchange.com/questions/tagged/collegescorecard

[2016-07-22 21:44] markalanevans commented on #318
Ok. I'll try there.

[2016-07-22 21:44] #318 closed, assigned to nobody

[2016-08-03 14:51] #231 closed

[2017-05-19 00:32] willblaschko opened #320 "Accepting NULL as part of range"
I am not seeing an obvious answer, is it possible to use an API call to request a dataset have either a value inside __range OR accept a null value if none present?